/**
	Especificaciones CSS para el juego del solitario 
*/
/* Fondo */
html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 5, 74, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Centrado del título y color */

#score {
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  line-height: 1;
}

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: x-large;
}

/* Centrado del título y color */
#titulo {
  text-align: center;
  color: #fff;
}

/* Centrado de los marcadores de tiempo y movimientos */
h3#marcadores {
  text-align: center;
  color: #fff;
}

/* Mesa que contiene a los tapetes centrados */
#mesa {
  text-align: center;
  margin: 20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
.tapete {
  display: inline-block;
  position: relative;
  margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
.tapete#inicial {
  width: 500px;
  height: 500px;
  background-color: rgb(81, 95, 139);
}

/* Dimensiones para todos los tapetes salvo el inicial */
.tapete:not(#inicial) {
  height: 238px;
  width: 189px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
.tapete#sobrantes {
  background-color: rgb(87, 122, 134);
}

/* Color de fondo de los tapetes receptores */
.tapete.receptor {
  background-color: rgba(0, 212, 255, 1);
}

/* Estilos creados */

.estilobaraja {
  position: absolute;
  border: 1px solid #888;
  border-radius: 20px;
  width: 120px;
}

.estilobarajaclick {
   border: 4px solid rgba(12, 5, 74, 1);
 }

h2 {
   margin-top: 30px;
}
